{% extends 'contact_page/layout_normal.html'%}

{% block rest %}
<div id = 'schedule'>
    <h1 style = "color:green">Enter your sign-in credentials</h1>
    {% if message %}
    <h2 style = 'color:red;'>{{message}}</h2>
    {% endif %}
    <form class = 'center form' action="{% url 'contact_page:hostLogin' redirected destination %}" method = 'POST'>
        {% csrf_token %}
        {% for field in form %}
            {{ field.label }}
            {{ field }}
            <br/>
        {% endfor %}
        <button type = "submit" class = "btn btn-primary" style = "margin:10px;">
            Sign in
        </button>   
    </form>
</div>
{% endblock  %}