{%extends 'contact_page/layout_normal.html'%}
{% load static %}

{% block rest %}
<script src="//code.jquery.com/jquery-1.12.4.js"></script>
<script src="//code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
<script src = "{% static "/contact_page/scripts/autocomplete.js"%}"></script>
<div class = 'center form'>
    <button id = 'email_button' type = "button" class = "btn btn-primary" onclick = "popemailform">
        Search by email
    </button>
    <button id = 'name_button' type = "button" class = "btn btn-primary" onclick = "popnameform">
        Search by Name
    </button>
</div>
<div class = 'center form'>
    <form action="{% url 'contact_page:search_results' %}" id = 'nameform' style = 'display: none;' method = POST>
        {% csrf_token %}
        <label for="FirstName">First Name</label>
        <input type="text" name = 'FirstName' id = 'FirstName' placeholder="First Name" style = "margin:10px;"/>
        <label for="LastName">Last Name</label>
        <input type="text" name = 'LastName' id = 'LastName' placeholder="Last Name" style = "margin:10px;"/>
        <input type="hidden" name = 'searchtype' value = 'NameSearch'/>
        <button type = "submit" class = "btn btn-success" style = "margin:10px;">
            Submit
        </button>   
    </form>
    <form action="{% url 'contact_page:search_results' %}" id = 'emailform' style = 'display: none;' method = POST>
        {% csrf_token %}
        <label for='Email'>Email address</label>
        <input type="text" name = 'Email' id = 'Email' placeholder="Email Address"/>
        <input type="hidden" name = 'searchtype' value = 'EmailSearch'/>
        <button type = "submit" class = "btn btn-success" style = "margin:10px;">
            Submit
        </button>   
    </form>
</div>
    
{% endblock  %}